PORT=5001
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_CLIENT_ID=

AWS_COGNITO_CLIENT_SECRET=

DYNAMODB_TABLE_BLOGS=
DYNAMODB_TABLE_BRANCHES=
DYNAMODB_TABLE_LEADERS=
DYNAMODB_TABLE_CAREERS=
DYNAMODB_TABLE_GALLERY=
USE_MOCK_DATA=
AWS_S3_BUCKET_NAME=
